{% extends 'base.html.twig' %}

{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}

{% block title %}Nouveaux lieux touristiques{% endblock %}

{% block body %}
<style>
    
    h1 {
        text-align: center;
        margin-top: 2rem;
    }

    .button {
        text-align: center;
    }
</style>

    <h1>Nouveau lieu touristique</h1>

    <div class="row">
        <div class="col-3"></div>
            <div class="col-6">

                {{ form_start(formulaire) }}

                    {{ form_row(formulaire.name) }}    
                    {{ form_row(formulaire.location) }}
                    {{ form_row(formulaire.country) }}
                    {{ form_row(formulaire.image) }}
                    {{ form_row(formulaire.duration) }}
                    {{ form_row(formulaire.description) }}

                <div class="button">
                    <button type="submit" class="btn btn-info">Enregistrer la carte</button>
                </div>

                {{ form_end(formulaire) }}

            </div>
        <div class="col-3"></div>
    </div>

{% endblock %}