{% extends 'base.html.twig' %}

{% block title %}Tourisme{% endblock %}

{% block body %}
<style>
    
    h1 {
        text-align: center;
        margin-top: 2rem;
    }

    img {
        display: block;
        margin: auto;
    }

    .col-8 {
        margin: 3rem;
    }

</style>

    <h1>Hello Voyageur !</h1>



        <div class="row">
            <div class="col-2"></div>
                <div class="col-8">

                {% for lieu in lieux %}

                    <hr>
                    <img src="/images/lieux/{{lieu.image}}" alt="image aléatoire">
                    <hr>
                    <p>Nom du monument : {{ lieu.name }}</p>
                    <p>Pays : {{ lieu.location }}</p>
                    <p>Ville : {{ lieu.country }}</p>
                    <p>Description du monument : {{ lieu.description }}</p>
                    <p>Date d'ajout : {{ lieu.createAt | date("d/m/Y") }}</p>
                    <p>Durée de la visite : {{ lieu.duration | date("%hh%i") }}</p>
                    <hr>
                
                    <div class="button text-center">
                        <a class="btn btn-primary" href=" {{ path("show_lieu", {id:lieu.id}) }}">Voir la carte du voyage</a>
                        <a class="btn btn-danger" href=" {{ path("delete_lieu", {id:lieu.id}) }} ">Supprimer la carte du voyage</a>
                        <!-- <a class="btn btn-success" href="">Editer la carte du voyage</a> -->
                    </div>

                {% endfor %}

                </div>
            <div class="col-2"></div>
        </div>
    


{% endblock %}
